#
# ==> Misc
#

[core]
	excludesfile = ~/.gitignore_global
	symlinks = true
	editor = nano
[branch]
	autosetuprebase = always
[protocol "https"]
	allow = always
[init]
	defaultBranch = main

#
# ==> hardcodes
#

[include]
	path = ~/.cust_hardcodes.d/gitconfig
