#
# ==> Misc
#

[core]
	excludesfile = ~/.gitignore_global
	symlinks = true
	editor = nano
[branch]
	autosetuprebase = always
[protocol "https"]
	allow = always
[init]
	defaultBranch = main

#
# ==> difftool
#

[diff]
	tool = difftastic

[difftool]
	prompt = false

[difftool "difftastic"]
	cmd = difft "$LOCAL" "$REMOTE"

[pager]
	difftool = true

[alias]
	diffd = difftool
	showd = "-c diff.external=difft show --ext-diff"

#
# ==> hardcodes
#

[include]
	path = ~/.cust_hardcodes.d/gitconfig
